# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec
build/
dist/

# Virtual Environments
.venv/
venv/
ENV/
env/

# Linter and Type Checker Caches
.ruff_cache/
.mypy_cache/
.pyright/

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# User screenshots / temporary files
image.png
temp_bridge_*/
